---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Catering" subtitle="Abastecimiento" hero="IMG_7154.jpeg"> 
  <div class="content-container">
    Need catering for your bachlorette? We're happy to sling some fresh hot ITALIAN saugage your way
  </div>
</PageLayout>

<style lang="scss">
 

</style>
